body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

.breadcrumbs ul {
    list-style: none;
    padding: 10px;
    background-color: #eee;
}

.breadcrumbs ul li {
    display: inline;
    margin-right: 5px;
}

.product-title {
    text-align: center;
    margin-top: 20px;
    color: darkred
}

.product-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.product-options {
    text-align: center;
    margin-top: 20px;
}

.size-options {
    margin-bottom: 10px;
}

.size-options button {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.quantity {
    margin-bottom: 10px;
}

.quantity select {
    padding: 5px;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
}

.add-to-bag {
    background-color: greenyellow;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.product-description,
.delivery-options,
.customer-reviews {
    margin: 20px auto;
    width: 80%
}

.delivery-options {
    border-collapse: collapse;
    widthï¼š100%
}

.delivery-options,
.delivery-options th,
.delivery-options td {
    border: 1px solid black;
}

.customer-reviews {
    background-color: #eee;
    padding: 15px;
    margin-bottom: 10px;
}

.customer-reviews h3 {
    margin: 0;
}